/* boiler plate */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gorditas", serif;
    font-family: "Open Sans", sans-serif;
    font-family: "Playpen Sans", cursive;
    font-family: "Poppins", sans-serif;
  }
  html,
  body {
    width: 100%;
    height: 100%;
  }
   
  .main{
    width: 100%;
    display: flex;
   flex-direction: column;
    
   
  }
  /* navigation starts here */
  .navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 100px;
    margin-bottom: 80px;
    border-bottom: 3px solid rgb(46, 44, 44,0.5);
     padding-top: 20px;
    
  }
  
  .navbar .navbarl {
    height: 100%;
    width: 47%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 30px;
    padding-left: 120px;
 

  }
  
  
  .navbar2{
    width: 53%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 120px;
  
  }
  
  
  .navbar2 button {
    width: 100px;
    height: 38px;
  
    border-radius: 6px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-size: 12.5px;
    font-weight: 700;
  }
  .navbar2 .si {
    background-color: white;
  
    cursor: pointer;
    border-radius: 8px;
    margin-right: 8px;
    border: 1px solid black;
  }
  
  .su {
    background-color: #4cd964;
    cursor: pointer;
    border-radius: 8px;
  }


  .navbarl a{
    text-decoration: none;
    color: rgb(15, 14, 14);
    font-weight: 550;
    font-size: 1.3vw;
  }

  #logo{
    font-size:30px;
    font-weight: 600;
    margin
  }
  #about{
    font-size: 15px;
    font-weight: 600;
  }
  #contact{
    font-size:15px;
    font-weight: 600;
  }
  #explore{
    font-size:15px;
    font-weight: 600;
  }

  
  /* Navbar section ends from here */

  .cont2 {
    display: flex;
    flex-direction: column;
    gap: 40px;
  
    padding: 20px;
    
    height: auto;
    padding: 10px 120px;
    
  }

  .cont2 .head h1{
    font-size: 60px;
    font-weight: 700;
    
   
  }
  .form{
    
    
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap:240px;

  }
  .cont2 .img{
   
    width: 80%;
    background-position: center;
    background-size: contain;
 
    margin-bottom: 60px;
  }
  
input[type=text],  textarea {
  width: 100%; 
  height: 50px;
  padding: 12px; 
  border: 2px solid rgb(62, 61, 61,0.5); 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}


input[type=button] {
  width:100%;
  background-color:rgba(147, 143, 143, 0.5);
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}


input[type=button]:hover {
  background-color: #45a049;
}


.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
/* footer section */

.footer{
  height: 150px;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.m{
  width: 95%;
  height: 80%;

  display: flex;

}

.m1, .m2{
  width: 50%;
  height: 100%;
  border: 2px solid black;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.l1{
  display: flex;
  align-items: center;
}

.l1 i{
  font-size: 30px;
  color: wheat;
}

.li h4{
  padding-top: 20px;
}

.l2 p{
    font-size: 13px;
    font-weight: 700;
}


.l3 i{
  font-size: 20px;

  padding: 0 4px;
}

.m2{
  padding-left: 25%;
 
}

.m2 .up1 h6{
  font-size: 0.9vw;
  
}

.m2 .up2 h5{
  font-size: 1.3vw;
  font-weight: 700;
}
