* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gorditas", serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Playpen Sans", cursive;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}
