
*{
    margin: 0px;
    padding: 0px;

}

a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.main{
    display: flex;
}

.box1{
    height: 540px;
    width: 60%;
    border: solid 1px black;
}

.box2{
    height: 540px;
    width: 40%;
    border: solid 2px black;
    background-image:  url(img1.png);
    background-repeat: no-repeat;
    background-size: cover;
}



.obj-section{
    display: flex;
    height: 370px;
}

.obj1, .obj2, .obj3{
    background-color: rgb(77, 46, 46);
}
.obj1{
    height: 370px;
    width: 34%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.obj11{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 8px;
}
.obj2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 370px;
    width: 33%;
    color: white;
}

.obj21{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 8px;
}

.obj3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 370px;
    width: 33%;
    color: white;
}

.obj31{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 8px;
}

.tag1{
    height: 540px;
    width: 40%;
}

.tag-section{
    display: flex; 
}
.tag2
{
    height: 540px;
    width: 60%;
    background-color: rgb(26, 25, 25);
    display: flex;
    align-items: center;
    justify-content: center;
}

.last{
    height: 80px;
    display: flex;
    flex-direction: row;
    background-color: #000000;
    align-items: center ;
    justify-content: space-evenly;
    
}

.company, .contact, .legal, .about ,.career{
  
    background-color: black;
    color: white;
} 

.mainbox1{
    height: 30%;
    display: flex;
}

.mainbox2{
    height: 40%;
    display: flex;
   padding-left: 25px;
    flex-direction: column;
    justify-content: center;
}

.m2-1{
    font-size: 2.4rem;
    margin-bottom: 12px;
    font-family: 'calibri';
    font-weight: 1000;

}

.m2-2{
    font-size: 1.7rem;
    font-weight: 600;
    opacity: 0.4;
    
}

.mainbox3{
    height: 30%;
    padding-left: 25px ;
    display: flex;
  
   
    align-items: center;
}

.code{
    height: 80px;
    width: 70%;
    padding-left: 9px;
    font-size: 1rem;
}
.find{
    height: 80px;
    width: 20%;
    font-size: 1rem;
    background-color: rgb(254, 187, 63);
    cursor: pointer;
}

.find:hover{
    background-color: black;
    color: white;
}

.m1, .m2{
    width: 30%;
    height: 100%;
   
    display: flex;
    align-items: center;
    justify-content: center;
}

.m3{
    width: 40%;
    height: 100%;
   
    display: flex;
    align-items: center;
    justify-content: center;
}

.login , .sign{
    height: 40px;
    width: 110px;
}

.login{
    background-color: white;
    color: black;
    cursor: pointer;
    border-style: none;
    font-size: 20px;
    font-weight: 400;
}

.sign{
    background-color: rgb(254, 187, 63);
    cursor: pointer;
    font-size: 19px;
    color: white;
    font-weight: 400;
}

.sign:hover{
    background-color: black;
    color: white;
}


.tag1{
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    justify-content: center;
    text-align: left;
}

.tag11{
    font-size: 2.8rem;
    font-weight: 800;
    margin-bottom: 2.5rem;
}

.tag12{
    font-size: 1.7rem;
    font-weight: 500;
    margin-bottom: 2.5rem;
    opacity: 0.6;
}

.APPSTORE, .PLAYSTORE{
height: 60px;
width: 35%;
color:white;
background-color: black;
font-size: 1.3rem;
cursor: pointer;
}

.PLAYSTORE{
    height: 60px;
    width: 35%;
    margin-right: 2rem;

}

.application{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2rem;
}

